

###############
# Fabric Links
###############

{% if "spine" in inventory_hostname %}
 {% for interface in fabric_links %}
   auto {{ interface }}
   iface {{ interface }}
     alias fabric link
 {% endfor %}
{% else %}
 {% for interface in devices[inventory_hostname].fabric_links %}
   auto {{ interface }}
   iface {{ interface }}
     alias fabric link
 {% endfor %}
{% endif %}

